#gameideageneratorcontainer {
    padding: 24px;
    background-color: #3e3e3e;
    display: grid;
    border-radius: 36px
}

#gig_advanced_options {
    margin-top: 24px;
}

#gig_form {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    row-gap: 24px;
    grid-template-rows: auto auto auto auto auto auto auto;
}

#gig_generate_button {
    grid-row: 1;
    grid-column: 1 / span 2;
}

#gig_genre_label {
    grid-column: 1;
    grid-row: 2;
}

#gig_genre {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    row-gap: 1em;
}

#gig_character_label {
    grid-column: 1;
    grid-row: 3;
}

#gig_character {
    grid-column: 2;
    grid-row: 3;
}

#gig_game_mechanic_label {
    grid-column: 1;
    grid-row: 4;
}

#gig_game_mechanic {
    grid-column: 2;
    grid-row: 4;
}

#gig_objective_label  {
    grid-column: 1;
    grid-row: 5;
}

#gig_objective {
    grid-column: 2;
    grid-row: 5;
}

#gig_location_label  {
    grid-column: 1;
    grid-row: 6;
}

#gig_location {
    grid-column: 2;
    grid-row: 6;
}

#gig_show_hide_advanced_container {
    grid-row: 7;
}

#gig_advanced_options {
    grid-row: 8;
    grid-column: 1 / span 2;
    display: none;
}