#gameideageneratorcontainer {
    padding: 24px;
    background-color: #3e3e3e;
    display: grid;
    border-radius: 36px
}

#gig_advanced_options {
    margin-top: 24px;
}

#gig_form {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    row-gap: 24px;
    grid-template-rows: auto auto auto auto auto auto auto;
}

#gig_generate_button {
    grid-row: 1;
    grid-column: 1 / span 2;
}

#gig_genre_label {
    grid-column: 1;
    grid-row: 2;
}

#gig_genre {
    grid-column: 2;
    grid-row: 2;
}

#gig_character_label {
    grid-column: 1;
    grid-row: 3;
}

#gig_character {
    grid-column: 2;
    grid-row: 3;
}

#gig_game_mechanic_label {
    grid-column: 1;
    grid-row: 4;
}

#gig_game_mechanic {
    grid-column: 2;
    grid-row: 4;
}

#gig_objective_label  {
    grid-column: 1;
    grid-row: 5;
}

#gig_objective {
    grid-column: 2;
    grid-row: 5;
}

#gig_location_label  {
    grid-column: 1;
    grid-row: 6;
}

#gig_location {
    grid-column: 2;
    grid-row: 6;
}

#gig_show_hide_advanced_container {
    grid-row: 7;
}

#gig_advanced_options {
    grid-row: 8;
    grid-column: 1 / span 2;
    display: none;
}

/* GENRE FILTER */

#gig_genre_list {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 24px;
    border-radius: 24px;
    padding: 24px;    
}

#genre_list_global_container {
    grid-row: 1;
}

#genre_list_container {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
}

#genre_list_global_label {
    font-weight: bold;
    font-size: 1.5em;
}

#genre_item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    row-gap: 9px;
}

.genre_filter {
    grid-column: 1;
    position: relative;
    vertical-align: middle;
}

.genre_label {
    grid-column: 2;
    position: relative;
    vertical-align: middle;
}

.genre_hint {
    grid-column: 3;
    position: relative;
    vertical-align: middle;
}

/* CHARACTER FILTER */

#gig_character_list {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 24px;
    border-radius: 24px;
    padding: 24px;   
}

#character_list_global_container {
    grid-row: 1;
}

#character_list_container {
    grid-row: 2;
    columns: 8em;
}

#character_list_global_label {
    font-weight: bold;
    font-size: 1.5em;
}

#character_item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    row-gap: 9px;
}

.character_filter {
    grid-column: 1;
    position: relative;
    vertical-align: middle;
}

.character_label {
    grid-column: 2;
    position: relative;
    vertical-align: middle;
}

.character_hint {
    grid-column: 3;
    position: relative;
    vertical-align: middle;
}